/* Стили ко всему документу */

body {
  font: 16px Trebuchet MS, sans-serif;
  background: #fff;
  display: grid;
  min-width: 320px;
  min-height: 100%;
  position: relative;
  outline: none;
  margin: 0;
  padding: 0;
}

/* Стили ко всем картинкам */

img {
  border-radius: 3px;
}

/* Стили ко всем ссылкам */

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
  line-height: 32px;
  font: 16px Trebuchet MS, sans-serif;
}

a:hover {
  color: crimson;
}

/* Стили для блоков сетки */

.grid {
  display: grid;
}

/* Стили для обертки */

.wrapper {
  padding: 0;
  width: 100%;
  min-height: 100%;
  grid-row-gap: 40px;
  grid-column-gap: 20px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: minmax(50px, auto);
}

/* Стили шапки сайта */

.header {
  grid-column: 1/4;
  width: 100%;
  background-color: #fff;
  align-self: center;
  border-bottom: groove;
  padding: 14px 0;
}

.navLink {
  padding: 0 0 0 40px
}

.navLink:first-child {
  padding: 0 0 0 100px;
}

/* Стили блока поиск */

.searchForm {
  display: inline;
  color: lightgrey;
  position: absolute;
  right: 200px;
  top: 8px;
}

.searchForm input {
  border-radius: 4px;
  border: none;
  -webkit-box-shadow: inset 0 1px 1px 0 rgba(0,0,0,0.1);
  box-shadow: inset 0 1px 1px 0 rgba(0,0,0,0.1);
  padding: 6px 14px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 74px;
}

/* Стили кнопки вход */

.logIn {
  background: #757575;
  color: #fff;
  height: 20px;
  padding: 7px 15px;
  font-size: 14px;
  letter-spacing: 1px;
  text-transform: uppercase;
  border-radius: 4px;
  position: absolute;
  right: 100px;
  top: 8px;
}

/* Стили правой колонки (Реклама/меню) */

.aside {
  grid-row: 3/6;
  grid-column: 3/3;
  grid-template-columns: 1fr;
  grid-template-rows: minmax(10px, auto);
  grid-row-gap: 20px;
  margin: 0 100px 0 0;
  align-content: start; 
}

.asideTitle {
  margin: 0;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.asideItem {
  grid-template-columns: 1fr;
  grid-template-rows: minmax(10px, auto);
}

.asideItem p, a {
  font-size: 14px;
  margin: 0;
}

.asideItem h4 {
  margin: 0;
}

.asideItemButton {
  text-align: center;
  border: none;
  border-radius: 3px;
  width: 100%;
  background-color: rgb(243, 243, 243);
  text-decoration: none;
  color: inherit;
  cursor: pointer;
  line-height: 32px;
  font: 16px Trebuchet MS, sans-serif;
}

.asideItemButton:hover {
  color: crimson;
}

/* Стили первой самой большой статьи */

.articleMain {
  grid-row: 2;
  grid-column: 1/3;
  grid-template-columns: 1fr;
  grid-template-rows: minmax(10px, 200px);
  grid-row-gap: 10px;
  margin: 0 0 0 100px;
}

.articleMain img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.articleMain div {
  width: 100%;
  height: 100%;
}

.articleMain h4 {
  margin: 0;
}

/* Стили блока со списком статей */

.articlesList {
  grid-row: 3;
  grid-column: 1/3;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: minmax(50px, auto);
  grid-row-gap: 40px;
  grid-column-gap: 20px;
  margin: 0 0 0 100px;
}

.articleListItem {
  grid-template-columns: 1fr;
  grid-template-rows: minmax(10px, 160px);
  grid-gap: 10px;
}

.articleListItem img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.articleListItem div {
  width: 100%;
  height: 100%;
}

/* Стили кнопки загрузки большего кол-ва статей перед футером */

.loadMore {
  grid-row: 4;
  grid-column: 1/3;
  margin: 0 0 0 100px;
}

.loadMoreItem {
  grid-template-columns: 1fr;
  grid-template-rows: minmax(50px, auto);
  grid-gap: 20px;
  width: 100%;
}

.loadMoreItemButton {
  text-align: center;
  border: none;
  border-radius: 3px;
  background-color: rgb(243, 243, 243);
  width: 100%;
  text-decoration: none;
  color: inherit;
  cursor: pointer;
  line-height: 32px;
  font: 16px Trebuchet MS, sans-serif;
}

.loadMoreItemButton:hover {
  color: crimson;
}

/* Стили подвала */

footer {
  grid-row: 5;
  width: 100%;
  grid-column: 1/4;
  grid-template-rows: minmax(50px, auto);
  background-color: rgb(0, 0, 0);
  color: #fff;
  padding-top: 20px;
  text-align: right;
}

footer a {
  margin-right: 20px;
}

/* Анимация прокрутки в начало */

.scroll-up {
  position: fixed;
	display: none;
	z-index: 999;
	bottom: 6em;
	left: 2em;
}

.scroll-up a {
  background-color: white;
	display: block;
	width: 48px;
  height: 48px;
  border-radius: 25px;
}

.scroll-up a:hover {
  background-color: rgba(235, 235, 235, .8);
}

/* Адаптивные стили под разные устройства */

@media (min-width: 800px) and (max-width: 1024px) {
  body {
    font: 16px Trebuchet MS, sans-serif;
  }
  
  .asideItem p, a {
    font-size: 14px;
  }

  .aside {
    margin: 0 75px 0 0;
  }

  .articleMain {
    margin: 0 0 0 75px;
  }

  .articlesList {
    margin: 0 0 0 75px;
  }

  .loadMore {
    margin: 0 0 0 75px;
  }

  .navLink:first-child {
    padding: 0 0 0 75px;
  }
  
  .searchForm {
    top: 8px;
    margin: 0;
    right: 155px;
  }

  .navLink {
    padding: 0 0 0 20px
  }

  .searchForm input {
    font-size: 12px;
    padding: 4px 4px;
  }

  .logIn {
    top: 8px;
    padding: 4px 12px;
    margin: 0;
    right: 75px;
  }

  .logIn img {
    width: 12px;
 }

  .logIn a {
    font-size: 12px; 
  }
}

@media (min-width: 670px) and (max-width: 800px) {
  .wrapper {
    grid-row-gap: 20px;
    grid-column-gap: 10px;
  }

  .aside {
    margin: 0 50px 0 0;
  }

  .asideItem p, a {
    font-size: 12px;
  }

  .articleMain {
    margin: 0 0 0 50px;
    grid-template-rows: minmax(10px, 150px);
  }

  .articlesList {
    margin: 0 0 0 50px;
  }

  .articleListItem {
    grid-template-rows: minmax(10px, 120px);
  }

  .loadMore {
    margin: 0 0 0 50px;
  }

  .navLink:first-child {
    padding: 0 0 0 50px;
  }
  
  .searchForm {
    padding: 0 0 0 30px;
    top: 10px;
    right: 120px;
  }

  .navLink {
    padding: 0 0 0 5px
  }

  .searchForm input {
    font-size: 10px;
    padding: 4px 4px;
    width: 50px;
  }

  .logIn {
    top: 10px;
    padding: 2px 10px;
    right: 50px;
  }

  .logIn img {
     width: 10px;
  }

  .logIn a {
    font-size: 10px; 
  }
}

@media (min-width: 400px) and (max-width: 670px) {
  .wrapper {
    grid-row-gap: 20px;
    grid-column-gap: 10px;
    grid-template-rows: minmax(30px, auto);
  }

  .header {
    padding: 10px
  }
  
  .aside {
    margin: 0 20px 0 0;
  }

  .asideItem p, a {
    font-size: 10px;
  }

  .articleMain {
    margin: 0 0 0 20px;
    grid-template-rows: minmax(10px, 150px);
  }

  .articlesList {
    margin: 0 0 0 20px;
  }

  .articleListItem {
    grid-template-rows: minmax(10px, 100px);
  }

  .loadMore {
    margin: 0 0 0 20px;
  }

  .navLink:first-child {
    padding: 0 0 0 10px;
  }
  
  .searchForm {
    top: 10px;
    right: 60px;
  }

  .navLink {
    padding: 0 0 0 5px
  }

  .searchForm input {
    font-size: 10px;
    padding: 2px 4px;
    width: 50px;
  }

  .logIn {
    top: 10px;
    padding: 0 4px;
    right: 10px;
  }

  .logIn img {
     width: 10px;
  }

  .logIn a {
    font-size: 10px; 
  }
}

@media (min-width: 0px) and (max-width: 400px) {
  .wrapper {
    grid-row-gap: 10px;
    grid-column-gap: 5px;
    grid-template-rows: minmax(30px, auto);
  }

  .header {
    padding: 10px
  }
  
  .aside {
    margin: 0 20px 0 0;
  }

  .asideTitle {
    font-size: 14px;
  }

  .asideItem p, a {
    font-size: 10px;
  }

  .articleMain {
    margin: 0 0 0 20px;
    grid-template-rows: minmax(10px, 80px);
  }

  .articlesList {
    margin: 0 0 0 20px;
  }

  .articleListItem {
    grid-template-rows: minmax(10px, 60px);
  }

  .loadMore {
    margin: 0 0 0 20px;
  }

  .navLink:first-child {
    padding: 0;
  }
  
  .searchForm {
    top: 10px;
    right: 55px;
  }

  .navLink {
    padding: 0 0 0 5px
  }

  .searchForm input {
    font-size: 10px;
    padding: 2px 4px;
    width: 50px;
  }

  .logIn {
    top: 10px;
    padding: 0 4px;
    right: 5px;
  }

  .logIn img {
     width: 10px;
  }

  .logIn a {
    font-size: 10px; 
  }
}